In [1]:
import pandas as pd

In [16]:
df1 = pd.read_csv('database_exp_input_v2.csv')

In [17]:
df1.head()

,cell_type,Gene ID,ANK1,BIM/BCL2,CCDC124,CD105/ENG,CD110/MPL,CD117/KIT,CD34,CD36,...,SDPR,SELP,SPI1,SRD5A3,TAL1,TGFB1,TMEM180/MFSD13A,TMOD1,TUBB2A,VWF
0,MEP,A1P1MEP-A1_a1p1,0.0,0.000000,0.000000,0.000000,22.715064,20.557057,20.543994,0.0,...,0.000000,19.967992,22.21347,23.137552,0.000000,17.218108,0.0000,0.0,0.000000,0.00000
1,MEP,A1P1MEP-A10_a1p1,0.0,24.374786,20.282405,20.630156,20.510992,0.000000,19.785585,0.0,...,0.000000,0.000000,0.00000,23.219575,20.428307,14.044520,20.8655,0.0,0.000000,16.59272
2,MEP,A1P1MEP-A11_a1p1,0.0,0.000000,0.000000,0.000000,0.000000,25.967066,26.195170,0.0,...,0.000000,31.375392,0.00000,0.000000,0.000000,23.485509,0.0000,0.0,0.000000,0.00000
3,MEP,A1P1MEP-A12_a1p1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,24.568299,0.0,...,0.000000,0.000000,0.00000,0.000000,0.000000,32.756533,0.0000,0.0,0.000000,0.00000
4,MEP,A1P1MEP-A2_a1p1,0.0,0.000000,0.000000,17.035436,0.000000,0.000000,15.959590,0.0,...,17.810128,0.000000,0.00000,0.000000,17.831410,13.391980,0.0000,0.0,18.505021,0.00000

In [18]:
df1.shape

(807, 58)

In [19]:
df2 = pd.read_csv('database_pca_input.csv')

In [20]:
df2.head()

            Gene ID       pc1       pc2
0   A1P1MEP-A1_a1p1 -1.781985 -5.211681
1  A1P1MEP-A10_a1p1  2.210256 -3.907442
2  A1P1MEP-A11_a1p1 -3.899191 -3.029160
3  A1P1MEP-A12_a1p1 -2.355849 -2.516856
4   A1P1MEP-A2_a1p1 -1.656166 -2.563535

In [21]:
df2.shape

(597, 3)

In [22]:
df = df1.merge(df2, how='left', left_on='Gene ID', right_on='Gene ID', validate='1:1')

In [23]:
df.shape

(807, 60)

In [24]:
df_new = df.fillna(0)

In [25]:
df_new.head()

,cell_type,Gene ID,ANK1,BIM/BCL2,CCDC124,CD105/ENG,CD110/MPL,CD117/KIT,CD34,CD36,...,SPI1,SRD5A3,TAL1,TGFB1,TMEM180/MFSD13A,TMOD1,TUBB2A,VWF,pc1,pc2
0,MEP,A1P1MEP-A1_a1p1,0.0,0.000000,0.000000,0.000000,22.715064,20.557057,20.543994,0.0,...,22.21347,23.137552,0.000000,17.218108,0.0000,0.0,0.000000,0.00000,-1.781985,-5.211681
1,MEP,A1P1MEP-A10_a1p1,0.0,24.374786,20.282405,20.630156,20.510992,0.000000,19.785585,0.0,...,0.00000,23.219575,20.428307,14.044520,20.8655,0.0,0.000000,16.59272,2.210256,-3.907442
2,MEP,A1P1MEP-A11_a1p1,0.0,0.000000,0.000000,0.000000,0.000000,25.967066,26.195170,0.0,...,0.00000,0.000000,0.000000,23.485509,0.0000,0.0,0.000000,0.00000,-3.899191,-3.029160
3,MEP,A1P1MEP-A12_a1p1,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,24.568299,0.0,...,0.00000,0.000000,0.000000,32.756533,0.0000,0.0,0.000000,0.00000,-2.355849,-2.516856
4,MEP,A1P1MEP-A2_a1p1,0.0,0.000000,0.000000,17.035436,0.000000,0.000000,15.959590,0.0,...,0.00000,0.000000,17.831410,13.391980,0.0000,0.0,18.505021,0.00000,-1.656166,-2.563535

In [26]:
df_new.shape

(807, 60)

In [27]:
df_new.to_csv('database_exp_input_v3.csv')

In [5]:
# Checking why the populate_db merge is not working
import pandas as pd

exp_df = pd.read_csv('database_exp_input.csv')

In [6]:
genes = exp_df.axes[1]
melted = pd.melt(exp_df, id_vars='Gene ID')
melted.rename(columns={'Gene ID': 'sample_id', 'variable': 'gene_id'},
                      inplace=True)

In [7]:
melted.head()

          sample_id gene_id  value
0   A1P1MEP-A1_a1p1    ANK1    0.0
1  A1P1MEP-A10_a1p1    ANK1    0.0
2  A1P1MEP-A11_a1p1    ANK1    0.0
3  A1P1MEP-A12_a1p1    ANK1    0.0
4   A1P1MEP-A2_a1p1    ANK1    0.0

In [8]:
melted.shape

(45192, 3)

In [ ]:
summary_df