In [67]:
import pandas as pd
import numpy as np

In [68]:
# This code cleans the 3 patient datasets to exclude the empty lines between each gene and writes them to a file called original name_cleaned
# REMEMBER P1expr.csv is a TAB seperated file sep = '\t'

In [69]:
df1 = pd.read_csv('P1expr.csv', sep = '\t')

In [70]:
df1.head()

,Gene ID,A1P1MEP-A1_a1p1,A1P1MEP-A10_a1p1,A1P1MEP-A11_a1p1,A1P1MEP-A12_a1p1,A1P1MEP-A2_a1p1,A1P1MEP-A3_a1p1,A1P1MEP-A4_a1p1,A1P1MEP-A5_a1p1,A1P1MEP-A9_a1p1,...,A3P1MEP-H11_a3p1,A3P1MEP-H12_a3p1,A3P1MEP-H2_a3p1,A3P1MEP-H3_a3p1,A3P1MEP-H4_a3p1,A3P1MEP-H5_a3p1,A3P1MEP-H6_a3p1,A3P1MEP-H7_a3p1,A3P1MEP-H8_a3p1,A3P1MEP-H9_a3p1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADD2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANK1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.713249,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df1.shape

(180, 286)

In [72]:
df1_cleaned = df1.dropna(how='all')

In [73]:
df1_cleaned.shape

(90, 286)

In [74]:
df1_cleaned.head()

,Gene ID,A1P1MEP-A1_a1p1,A1P1MEP-A10_a1p1,A1P1MEP-A11_a1p1,A1P1MEP-A12_a1p1,A1P1MEP-A2_a1p1,A1P1MEP-A3_a1p1,A1P1MEP-A4_a1p1,A1P1MEP-A5_a1p1,A1P1MEP-A9_a1p1,...,A3P1MEP-H11_a3p1,A3P1MEP-H12_a3p1,A3P1MEP-H2_a3p1,A3P1MEP-H3_a3p1,A3P1MEP-H4_a3p1,A3P1MEP-H5_a3p1,A3P1MEP-H6_a3p1,A3P1MEP-H7_a3p1,A3P1MEP-H8_a3p1,A3P1MEP-H9_a3p1
1,ADD2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0
3,ANK1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.713249,...,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0
5,B2M,16.254905,15.125025,21.628053,22.309525,12.696938,11.498852,12.343423,13.087051,11.726592,...,0.0,0.0,9.752539,9.454149,9.274815,9.36358,0.0,0.0,0.0,0.0
7,BDH1,0.000000,21.681560,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,15.484380,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0
9,BIM/BCL2,0.000000,24.374786,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.0,0.0

In [75]:
df2 = pd.read_csv('P2expr.csv')

In [76]:
df2.head()

,Gene ID,A1P2MEP-A1_a1p2,A1P2MEP-A10_a1p2,A1P2MEP-A11_a1p2,A1P2MEP-A12_a1p2,A1P2MEP-A2_a1p2,A1P2MEP-A3_a1p2,A1P2MEP-A4_a1p2,A1P2MEP-A5_a1p2,A1P2MEP-A6_a1p2,...,A3P2MEP-H11_a3p2,A3P2MEP-H12_a3p2,A3P2MEP-H2_a3p2,A3P2MEP-H3_a3p2,A3P2MEP-H4_a3p2,A3P2MEP-H5_a3p2,A3P2MEP-H6_a3p2,A3P2MEP-H7_a3p2,A3P2MEP-H8_a3p2,A3P2MEP-H9_a3p2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADD2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.839725,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANK1,NaN,15.742857,NaN,NaN,15.719132,NaN,NaN,NaN,NaN,...,NaN,NaN,15.274192,12.437538,NaN,15.839816,NaN,12.821381,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df2.shape

(180, 289)

In [78]:
df2_cleaned = df2.dropna(how='all')

In [79]:
df2_cleaned.head()

,Gene ID,A1P2MEP-A1_a1p2,A1P2MEP-A10_a1p2,A1P2MEP-A11_a1p2,A1P2MEP-A12_a1p2,A1P2MEP-A2_a1p2,A1P2MEP-A3_a1p2,A1P2MEP-A4_a1p2,A1P2MEP-A5_a1p2,A1P2MEP-A6_a1p2,...,A3P2MEP-H11_a3p2,A3P2MEP-H12_a3p2,A3P2MEP-H2_a3p2,A3P2MEP-H3_a3p2,A3P2MEP-H4_a3p2,A3P2MEP-H5_a3p2,A3P2MEP-H6_a3p2,A3P2MEP-H7_a3p2,A3P2MEP-H8_a3p2,A3P2MEP-H9_a3p2
1,ADD2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,14.839725,NaN,NaN,NaN,NaN,NaN,NaN
3,ANK1,NaN,15.742857,NaN,NaN,15.719132,NaN,NaN,NaN,NaN,...,NaN,NaN,15.274192,12.437538,NaN,15.839816,NaN,12.821381,NaN,NaN
5,B2M,13.503677,12.180925,NaN,13.511578,11.938799,12.974708,NaN,NaN,12.817262,...,9.656058,9.637459,9.910702,8.555261,8.655915,9.454410,10.753706,8.567809,10.520399,9.913644
7,BDH1,NaN,NaN,NaN,NaN,19.017497,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,BIM/BCL2,NaN,21.319226,NaN,NaN,20.422011,NaN,21.460935,NaN,NaN,...,NaN,NaN,NaN,17.556337,NaN,NaN,NaN,18.753613,NaN,NaN

In [80]:
df3 = pd.read_csv('P3expr.csv')

In [81]:
df3.head()

,Gene ID,A1P3-7141-A1_a1p3,A1P3-7141-A10_a1p3,A1P3-7141-A11_a1p3,A1P3-7141-A12_a1p3,A1P3-7141-A2_a1p3,A1P3-7141-A3_a1p3,A1P3-7141-A4_a1p3,A1P3-7141-A5_a1p3,A1P3-7141-A6_a1p3,...,A3P3-7141-F8_a3p3,A3P3-7141-F9_a3p3,A3P3MEP-F11_a3p3,A3P3MEP-F12_a3p3,A3P3MEPG1_a3p3,A3P3MEPG2_a3p3,A3P3MEPG3_a3p3,A3P3MEPG4_a3p3,A3P3MEPG5_a3p3,A3P3MEPG6_a3p3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADD2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANK1,15.094331,22.426016,16.262384,NaN,12.478567,16.128982,14.215316,17.227992,15.017084,...,15.550886,15.836533,NaN,NaN,12.735321,12.08333,NaN,11.619478,13.482048,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df3.shape

(180, 235)

In [83]:
df3_cleaned = df3.dropna(how='all')

In [84]:
df3_cleaned.head()

,Gene ID,A1P3-7141-A1_a1p3,A1P3-7141-A10_a1p3,A1P3-7141-A11_a1p3,A1P3-7141-A12_a1p3,A1P3-7141-A2_a1p3,A1P3-7141-A3_a1p3,A1P3-7141-A4_a1p3,A1P3-7141-A5_a1p3,A1P3-7141-A6_a1p3,...,A3P3-7141-F8_a3p3,A3P3-7141-F9_a3p3,A3P3MEP-F11_a3p3,A3P3MEP-F12_a3p3,A3P3MEPG1_a3p3,A3P3MEPG2_a3p3,A3P3MEPG3_a3p3,A3P3MEPG4_a3p3,A3P3MEPG5_a3p3,A3P3MEPG6_a3p3
1,ADD2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANK1,15.094331,22.426016,16.262384,NaN,12.478567,16.128982,14.215316,17.227992,15.017084,...,15.550886,15.836533,NaN,NaN,12.735321,12.083330,NaN,11.619478,13.482048,NaN
5,B2M,9.521889,10.039254,10.828808,15.736447,9.408218,9.900805,9.653056,11.004471,9.998454,...,10.225398,9.671659,10.528508,10.092217,9.296825,9.805433,9.719582,8.173017,9.856934,9.932323
7,BDH1,17.341750,NaN,NaN,NaN,17.335573,17.353531,16.734176,NaN,17.161305,...,NaN,17.489874,18.038004,NaN,16.184798,NaN,NaN,NaN,NaN,NaN
9,BIM/BCL2,18.704411,21.353992,19.142622,19.070839,NaN,NaN,NaN,NaN,NaN,...,NaN,19.683090,NaN,NaN,19.534187,NaN,NaN,NaN,18.641412,NaN

In [85]:
df1_cleaned.to_csv('P1expr_cleaned.csv', sep = '\t')
df2_cleaned.to_csv('P2expr_cleaned.csv')
df3_cleaned.to_csv('P3expr_cleaned.csv')