In [1]:
import pandas as pd
pd.__version__

'0.19.2'

In [2]:
import numpy as np

In [3]:
df1 = pd.read_csv("out.csv", sep=' ')

In [4]:
df1.head()

,Actb,Bmi1,Bmp4,Bmp7,Bmpr1a,Cd34,Cdh1,Cdh2,Cdk2,Cdx2,...,Tgm2,Trp53,Tubb3,Utf1,Vim,Wdr5,Wnt3a,Wnt5a,Zfp281,Zfp42
0,16.720832,10.552399,11.137141,0.000000,10.681368,0.000000,0.00000,8.131784,13.101243,0.0,...,10.199417,13.990968,12.947217,8.246675,15.868633,12.380048,0.0,9.479991,12.918684,14.378189
1,16.950440,7.819512,12.813427,8.644999,9.971894,0.000000,5.18228,8.367979,13.775482,0.0,...,9.868370,11.882327,12.285330,0.000000,15.984964,14.012475,0.0,0.000000,14.098621,16.309727
2,16.585537,0.000000,12.467194,0.000000,10.716559,0.000000,0.00000,0.000000,13.722035,0.0,...,0.000000,13.617123,13.325254,9.930650,15.697888,13.530741,0.0,0.000000,14.342969,15.674892
3,17.313634,10.094540,12.770269,0.000000,10.812278,0.000000,0.00000,0.000000,12.992038,0.0,...,0.000000,13.639962,13.693003,13.277669,16.627828,13.810295,0.0,0.000000,14.545973,16.712376
4,17.735432,6.993295,13.490686,0.000000,11.558709,8.776877,0.00000,8.096469,13.745281,0.0,...,0.000000,14.130701,14.532811,13.286995,16.976943,13.274383,0.0,9.890605,15.337588,17.073253

In [5]:
df2 = pd.read_csv('annotation1.txt', sep="\t")

In [6]:
df2.head()

   Time     Line ThreeST    2ST
0     0  E14tg2a     ESC  alpha
1     0  E14tg2a     ESC  alpha
2     0  E14tg2a     ESC  alpha
3     0  E14tg2a     ESC  alpha
4     0  E14tg2a     ESC  alpha

In [7]:
df2.shape

(547, 4)

In [10]:
df3 = df2.join(df1)

In [11]:
df3.head()

,Time,Line,ThreeST,2ST,Actb,Bmi1,Bmp4,Bmp7,Bmpr1a,Cd34,...,Tgm2,Trp53,Tubb3,Utf1,Vim,Wdr5,Wnt3a,Wnt5a,Zfp281,Zfp42
0,0,E14tg2a,ESC,alpha,16.720832,10.552399,11.137141,0.000000,10.681368,0.000000,...,10.199417,13.990968,12.947217,8.246675,15.868633,12.380048,0.0,9.479991,12.918684,14.378189
1,0,E14tg2a,ESC,alpha,16.950440,7.819512,12.813427,8.644999,9.971894,0.000000,...,9.868370,11.882327,12.285330,0.000000,15.984964,14.012475,0.0,0.000000,14.098621,16.309727
2,0,E14tg2a,ESC,alpha,16.585537,0.000000,12.467194,0.000000,10.716559,0.000000,...,0.000000,13.617123,13.325254,9.930650,15.697888,13.530741,0.0,0.000000,14.342969,15.674892
3,0,E14tg2a,ESC,alpha,17.313634,10.094540,12.770269,0.000000,10.812278,0.000000,...,0.000000,13.639962,13.693003,13.277669,16.627828,13.810295,0.0,0.000000,14.545973,16.712376
4,0,E14tg2a,ESC,alpha,17.735432,6.993295,13.490686,0.000000,11.558709,8.776877,...,0.000000,14.130701,14.532811,13.286995,16.976943,13.274383,0.0,9.890605,15.337588,17.073253

In [12]:
df3.to_csv('southhampton_annotated.csv')